html{
  background-color: rgb(243, 243, 243);
}

.App {
  text-align: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  border-left-style: none;
  border-right-style: none;
}

.row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
}

.image{
  width: 100px;
  border-radius: 1em;
  border-width: 2px;
  border-style: solid;
  border-color: #ff0000;
}

.image-enabled{
  border-color: #00ff00;
}

.image:hover{
  cursor: pointer;
  opacity: 0.9;
}

.image:active{
  cursor: pointer;
  opacity: 1;
}

.delete{
  width: 20px;
  margin-left: 1em
}

.delete:hover{
  cursor: pointer;
  opacity: 0.8;
}

.delete:active{
  cursor: pointer;
  opacity: 1;
}

.btn{
  background:none;
  border:none;
  margin: 0.5em;
  padding: 0;
 }

 .title{
  font-size: 2.5em;
  font-weight: 700;
  padding: 1em;
  padding-top: 0.75em;
  color: rgb(66, 66, 66);
  text-align: center;
 }

 .inputLog{
  border-width: 1px;
  border-style: solid;
  border-color: #adadad;
  border-radius: 2em;
  padding: 1em;
  font-size: 1em;
  color: #4a4a4a;

 }

 .inputLog:focus{
  border-width: 1px;
  border-style: solid;
  border-color: #adadad;
  border-radius: 2em;
  padding: 1em;
  outline: none;
  background-color: rgb(213, 213, 213);
  color: #4a4a4a;

 }

 .inputSubmit{
  border-width: 1px;
  border-style: solid;
  border-color: #adadad;
  border-radius: 2em;
  padding: 1em;
  background-color: white;
  margin-top: 3em;
  font-size: 1em;
  width: 9em;
  color: #4a4a4a;

 }

 .inputSubmit:hover{
  cursor: pointer;
  opacity: 0.7;
 }

 .message{
  color: red;
  margin-top: 1em;
  font-size: 1em;
 }

 .inputLogout{
  border-width: 1px;
  border-style: solid;
  border-color: #adadad;
  border-radius: 2em;
  padding: 1.2em;
  background-color: white;
  margin: 2em;
  font-size: 1em;
  width: 9em;
  color: #4a4a4a;
  float: right;
 }

 .inputLogout:hover{
  cursor: pointer;
  opacity: 0.7;
 }

 .wrapper-log{
  display: flex;
  justify-content: center;
 }

 label{
  font-weight: 500;
  color: #585858;
 }

 .logcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
  width: auto;
  background-color: #e6e6e6;
  padding: 3em;
  border-radius: 2em;
  width: 400px;
  border-width: 1px;
  border-style: solid;
  border-color: #adadad;
 }

 .row-login{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
 }

 .userName{
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    text-align: center;
    height: 100px;
    width: 220px;
    padding-right: 1em;
    padding-left: 1em;
    color: #525252;
    background-color: rgb(243, 243, 243);
    margin-right: 0.5em;
 }

 .user{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: initial;
  line-height: 0.7em;
 }

 .bold{
  font-weight: 700;
 }

 .PopUpContainer{
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translateY(-10%);
  z-index: 10;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .prompt-text {
  margin-bottom: 1em;
  font-size: 2em;;
 }

 .prompt-btn{
  padding: 1em;
  margin: 0.25em;
  border-radius: 0.5em;
  border-width: 1px;
 }

 .prompt-btn:hover{
  cursor: pointer;
  opacity: 0.7;
 }