html{
  background-color: rgb(243, 243, 243);
}

.App {
  text-align: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1em;
}

.row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
}

.image{
  width: 100px;
  border-radius: 1em;
  border-width: 2px;
  border-style: solid;
  border-color: #ff0000;
}

.image-enabled{
  border-color: #00ff00;
}

.image:hover{
  cursor: pointer;
  opacity: 0.9;
}

.image:active{
  cursor: pointer;
  opacity: 1;
}

.btn{
  background:none;
  border:none;
  margin: 0.3em;
 }

 .title{
  font-size: 3em;
  font-weight: 700;
  padding: 1em;
  color: rgb(66, 66, 66);
 }

 .userName{
  border-radius: 1em;
  border-width: 2px;
  border-style: solid;
  border-color: #131313;
  text-align: center;
  height: 100px;
  padding-right: 1em;
  padding-left: 1em;
 }